.header
{
    background-color: #56758c;
}

ul{
    text-decoration: none;
    margin: 0px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    list-style-type: none;
    margin-left: 60%;
    margin-right: 10%;
    padding: 10px;
}

li{
   height: 35px;
    display: inline-block;

    text-align: center;
    padding: 5px;
}
/* li:hover{
    background-color: #2f5572;
} */

a{
    color: #eeeff1;
    text-decoration: none;
}

.header-btn{
    background-color: #2f5572;
    border: none;
    color: white;
    width: 120px;
}