<div class="main-section">
    <div class="main-subsection">
        <div class="section1">
            <div class="section1-sub1">
                    Your clarity.
            </div>
            <div class="section1-sub2">
                    One trip away.
            </div>
        </div>
        <div class="section2">
                <div class="section2-sub1">
                        We create soul restoring journeys that inspire you to be you.
                </div>
                <div class="section2-sub2">
                    <button class="btn">
                        Get Started Today
                    </button>
                </div>
        </div>
    </div>
</div>