.parent-section
{
    background-image: url(../../../assets/images/hero--large.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.parent-div{
    flex: 1;
    position: relative;
    padding: 50px;
    text-align: center;
}

.our-begining-container{
    width: 100%;
    height: 1000px;
    padding: 40px 200px 40px 200px;
}

.services-parent{
    background-color: #2f5572;
    height: 500px;
    padding: 30px 400px 0px;
}

.testimonial-parent{
    height: 600px;
    background-image: url("../../../assets/images/testimonials-bg.jpg")
}
.footer-parent{
    width: 100%;
    /* padding: 10px; */
    height: 50px;
    background-color: #2f5572;
}