<div class="parent-section">
    <app-header></app-header>
    <div class="clear-escapes">
        Clear View <br> <span style="font-size: 25px;color: #ffffffd4;">Escapes</span>
    </div>
    <div class="parent-div">
        <app-layer-below-header></app-layer-below-header>
    </div>
<div class="darkblue-line">

</div>
</div>

<div class="our-begining-container"> 
<app-our-begining></app-our-begining>
</div>
<div class="services-parent">
    <app-services></app-services>
</div>
<div class="testimonial-parent">
    <app-testimonials></app-testimonials>
</div>
<div class="footer-parent">
    <app-footer></app-footer>
</div>