<div class="parent-div">
    <div class="child1-div">
        <div class="trip-planned">
            <div class="plan">
                The first trip we planned was our own.
            </div>
            <p class="paragraph-mssg">
                Ever since, we’ve been working to <br>make travel better for everyone.
            </p>
        </div>
        <div class="parent-image">
            <img class="img" src="../../../assets/images/first-trip.jpg">
        </div>
    </div>
    <div class="child2-div">
        <div class="child2-img">
            <img class="img" src="../../../assets/images/our-start.jpg">
        </div>
        <div class="child2-text">
            <h1 class="child2-heading"> 
                Here’s how we got started…
            </h1>
            <p class="child2-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, <u><span style="font-weight: bold;color:#dba870;">quis nostrud exercitation</span></u> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>
                Duis aute irure dolor in <b>reprehenderit</b> in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum velit esse 
                cillum dolore eu fugiat.
            </p>
        </div>
    </div>
</div>